{
  "root": true,
  "ignorePatterns": ["**/**.js", "**/**.test.ts"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "react-app",
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-plusplus": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "prettier/prettier": "error",
    "react/jsx-newline": [
      "error",
      {
        "prevent": true,
        "allowMultilines": false
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/react-in-jsx-scope": "off",
    "class-methods-use-this": "off",
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ]
  }
}
