{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "react-app",
    "eslint:recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "react/jsx-newline": [
      "error",
      {
        "prevent": true,
        "allowMultilines": false
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/react-in-jsx-scope": "off",
    "class-methods-use-this": "off"
  }
}
