.draggable-title {
  -webkit-app-region: drag;
}

.awsui-context-content-header {
  -webkit-app-region: drag;
}

.awsui-context-content-header > div {
  -webkit-app-region: drag;
}

.non-draggable-title {
  -webkit-app-region: none;
}
